.popover {
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 10;
  max-width: 276px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 4px;
}

.popover-title {
  padding: 16px 16px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.popover-body {
  flex: 1 1 auto;
  padding: 16px 16px;
}

.hidden {
  display: none;
}

.fade {
  opacity: 0;
  transition: opacity 0.3s linear;
}

.show {
  transition: opacity 0.3s linear;
  opacity: 1;
}

.popover .popover-arrow::before {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.popover .popover-arrow::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

